<h1>Your Habits</h1>

<%= link_to "New Habit", new_habit_path, class: "btn btn-primary" %>

<ul>
  <% @habits.each do |habit| %>
    <li>
      <strong><%= habit.name %></strong> - <%= habit.description %>
      <%= link_to "Edit", edit_habit_path(habit) %> |
      <%= link_to "Delete", habit_path(habit), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
